
.lalala {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.brown-color {
    color: #715442 !important;
}

/*   commom   */




.add-btn {
    background-color: #F6F7F8;
    color: #715442 !important;
}

.product-container {
    position: relative;
    background-color: rgb(85, 0, 0);

    border-radius: 5px;
}

.img-product {
    height: 50vh;

    cursor: pointer;
}
.imagemmm {
    background-image: url(https://images.pexels.com/photos/2872755/pexels-photo-2872755.jpeg?auto=compress&cs=tinysrgb&w=600);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.description {
    background-color: #E7DFC6;
}

.item-price-h1 {
    color: #715442 !important;
}

.item-price {
    color: #715442 !important;    
}