.div-excluir-item {
    position: absolute;
    
    top: 0;
    left: 0;
    background-color: rgba(218, 215, 215, 0.644);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;

    border-radius: 5px;

}

.option-btn {
    font-weight: 400;

    cursor: pointer;
    transition: .3s;
}
.option-btn:hover {
    color: #000 !important;
}